@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 16px;
}

a {
    text-decoration: none !important;
}

ul {
    margin-bottom: 0;
    padding-bottom: 0;
}
button:active {
    outline: none;
}

.block {
    padding: 0;
    overflow: hidden;
}

.block-img {
    border-radius: 10px;
    box-shadow: 0px 9px 24px 0 rgba(0, 0, 0, 0.28);
}
.img-text {
    width: 100%;
    height: 100%;
    transition: all ease-in-out .2s;
}
.img-text:hover {
    transform: scale(1.1);
}
/* NAVIGATION */
.main-navigation
{
    box-shadow: 0px 8px 20.9px 3.1px rgba(0, 0, 0, 0.08);
}


.text-block
{
    max-width: 48%;
}

.custom-link {
    background-color: #6866d1;
    margin-left: 10px;
    border-radius: 40px;
    box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.2);
    font-size: 18px;
    padding: 10px 30px;
    font-weight: bold;
    letter-spacing: 0.9px;
    text-align: center;
    transition: all ease-in-out .2s;
}

.custom-link:hover {
    background-color: #fff;
}

.custom-link:hover a {
    color: #6866d1;
}

.custom-link a {
    color: #fff;
    text-decoration: none;
}

.nav-link 
{
    position: relative;
    margin: 0 20px;
    font-size: 14px;
    letter-spacing: 0.7px;
    text-align: left;
    color: #0a0a0a !important;
}
.nav-link:last-child {
    margin: 0;
    margin-left: 20px;
}
.active .nav-link::after {
    
    content: "";
    background: #6866d1;
    position: absolute;
    bottom: 0;
    left: 15%;
    height: 3px;
    width: 70%;
    
}

.nav-link:hover {
    color: #6866d1 !important;
}

.intro {
    padding-top: 32px;
}

h1 {
    margin: 20px 0;
    max-width: 427px;
    line-height: 1.22;
    font-size: 36px !important;
}

.counter-number {
    animation-duration: 1s;
    animation-delay: 0s;
}
.counter h2 {
    padding: 0 15px;
    font-size: 30px;
}
.counter h2:first-child {
    margin-left: 0;
}

.counter h2:nth-child(2) {
    /* position: relative; */
    border-right: 1px solid #e6e6e6;
    border-left: 1px solid #e6e6e6;
}

/* .counter h2:nth */

.text-intro {
    margin: 36px 0 39px;
    font-size: 16px;
    max-width: 479px;
    line-height: 1.5;
}

.text-author {
    font-size: 15px;
}

.row ul {
    list-style: none;
}

.row li {
    position: relative;
    font-size: 16px;
    padding: 8px 0;
    font-weight: normal;
    letter-spacing: normal;
    
}

.block li::before {
    color: #6866d1;
    content: 'â—';
    position: absolute;
    left: -20px;
}

.conclusion {
    margin: 60px 0;
}

.conclusion .container{
    box-shadow: -0.3px 10px 40px 14px rgba(0, 0, 0, 0.14);
    background-color: #ffffff;
    padding: 40px 20px;

}

.visit {
    margin: 67px 0 89px;
}

.visit .container {
    background-image: url('http://textdex.fun/wp-content/uploads/2020/06/cta-bg.jpg');
    background-size: cover;
    border-radius: 20px;
    padding: 25px 0;
    

}
.visit .container p {
    margin-right: 23px;
    font-size: 24px;
    color: #ffffff;
    font-weight: bold;
    line-height: 1.25;

}
.btn-custom {
    border-radius: 40px;
    box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    padding: 15px 66px;
    color: #e16590;
    transition: all ease-in-out .2s;
}

.btn-custom:hover {
    color: #fff;
    background-color: #e16590;
} 

.footer {
    background-color: #6851a7;
    padding: 44px 0;
}

.footer p {
    opacity: 0.5;
    font-size: 10px;
    font-weight: normal;
    line-height: 1.2;
    letter-spacing: normal;
    color: rgba(255, 255, 255, 0.5);
}
footer ul {
}

footer #footer-menu {
    padding: 0;
    min-width: 50px;
}

.custom-links-ul
{
    flex-wrap: wrap;
}

.custom-links-ul li {
    padding: 0 5px;
}

footer nav {
    /* display: flex; */
    font-size: 12px !important;
    /* align-items: baseline; */
}

footer li {
    font-size: 12px !important;
    opacity: .7;
}

footer li a {
    text-decoration: none !important;
    color: rgba(255, 255, 255, 0.7);
}

footer li a:hover {
    color: #fff;
}
.btn-footer {
    color: #fff;
    background-color: #fe515d;
}

.btn-footer:hover {
    color: #fe515d;
    background-color: #fff;
}

.section.top-service .container {
    position: relative;
}


.carousel-wrap {
    margin-top: 59px;
    margin-left: auto;
    padding: 0;
    width: 85%;
    position: relative;
  }
  
  /* fix blank or flashing items on carousel */
  .owl-carousel .item {
    position: relative;
    z-index: 100; 
    -webkit-backface-visibility: hidden; 
  }
  
  /* end fix */
  .owl-nav > div {
    margin-top: -26px;
    position: absolute;
    top: 50%;
    color: #000;
  }
  
  .owl-prev {
    top: 6rem;
  }
  
  .owl-next {
    top: 9.5rem;
    
  }

  .owl-prev, .owl-next {
      position: absolute;
      padding: 11px !important;
      left: -17%;
      border-radius: 50%;
      border: 2px solid white !important;
      box-sizing: content-box;
      background-color: transparent;

  }

  .item .card  {
      width: 100%;
  }

  .owl-item {
      width: 20rem;
  }

  .bg-block {
    position: absolute;
    top: 0;
    left: 0;
    width: 244px;
    height: 407px;
    padding: 24px 26px;
    background-image: linear-gradient(to top, #9f85e6, #c66ceb);
  }

.bg-block h3 {
    color: #fff;
    font-size: 26px !important;
}

.line-bottom {
    position: absolute;
    bottom: 61px;
    left: 26px;
    width: 91px;
    height: 1px;
    background-color: #fff;
}



.owl-dots {
    text-align: center;
    padding-top: 15px;
    position: absolute;
    bottom: 50%;
    left: -17%;
    
  }
  .owl-dots button.owl-dot {
    position: relative;
    width: 51px;
    height: 2px;
    display: inline-block;
    background-color: transparent;
    border-bottom: 1px solid #ffffff;
  }
  .owl-dots button.owl-dot.active {
    background-color: #ffffff;
  }
  .owl-dots button.owl-dot::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -1px;
      width: 51px;
      height: 1px;
      display: block;
      background-color: #ffffff;
  }
  /* .owl-dots button.owl-dot */
  .owl-dots button.owl-dot:focus {
    outline: none;
  }

  .card-numbers 
  {
      display: flex;
      align-items: center;
      margin: 20px 0;
  }
  .owl-carousel .owl-item .card-numbers span {
      font-size: 20px;
      padding: 0 23px;
      color: #121212;
      font-weight: bold;
  }

  .owl-carousel .owl-item .card-numbers span:first-child {
    padding-left: 0px;
  }

  .owl-carousel .owl-item .card-numbers span:nth-child(2) {
      border-left: 1px solid #e6e6e6; 
      border-right: 1px solid #e6e6e6; 
  }

  .owl-carousel .owl-item .card-numbers img {
      width: 24px !important;
      display: inline-block;
      vertical-align: sub;
  }

  .btn-card {
      padding: 7px 25px;
      font-size: 12px;
      line-height: 1.83;
      color: #ffffff;
      background-color: #6866d1;
  }

  .card-links {
      margin: 15px 0;
  }
  .card-links a {

  }
  .card-links a span{
      color: #666666;
      border-bottom: 1px solid #666666;
  }

  .card-comment {
      position: relative;
      background-color: #eeebf6;
      box-shadow: inset -0.1px 3px 7px 0 rgba(108, 108, 108, 0.15);
      width: 100%;
      padding: 10px 75px 10px 10px;
  }

  .name-comment {
      position: absolute;
      right: 10px;
      top: 11px;
      font-size: 12px;
      opacity: .7;
      color: #9d83e3;

  }

  .title-comment span {
      font-size: 14px;
      font-weight: bold;
      color: #454545;
  }

  .title-comment img {
      width: 14px !important;
    display: inline-block !important;
  }

  .text-comment {
      margin: 10px 0;
      color: #454545;
      font-size: 12px;
  }

  .email-comment {
      font-size: 12px;
      font-style: italic;
      color: #999999;
  }